<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="notificationModal">
  <div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="notificationModalLabel">Notifications</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="list-group">
            <li th:each="notification : ${notifications}" class="list-group-item d-flex justify-content-between align-items-center">
              <span th:text="${notification.content}"></span>
              <button class="btn btn-sm btn-outline-secondary" onclick="markAsRead([[${notification.id}]])">Mark as Read</button>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" onclick="markAllAsRead()">Mark All as Read</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
