<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Game List - Manage Threads</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/admin-style.css}">
    <style>
        body {
            margin: 0; /* Đặt margin của body về 0 */
            padding: 0; /* Đặt padding của body về 0 */
        }
    </style>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div th:replace="admin/admin-navbar :: sidebar"></div>

        <!-- Main content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 mt-0"> <!-- Đặt margin-top cho main content thành 0 -->
            <h2 class="mb-4">Quản lý Threads</h2>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên Game</th>
                    <th>Hành Động</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="game : ${games}">
                    <td th:text="${game.id}"></td>
                    <td th:text="${game.name}"></td>
                    <td>
                        <a th:href="@{/admin/threads/{gameId}(gameId=${game.id})}" class="btn btn-primary">Quản lý Threads</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
